<form #codeForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-header"><strong>Ajouter</strong> chapitre</div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Type du code</label>
                <div class="col-md-9">
                    <select id="select1" name="codeType" class="form-control" (change)="onChangeForm($event)"
                        [(ngModel)]="selectedForm">
                        <option value="0">course</option>
                        <option *ngFor="let codeType of codeTypes" (value)="(codeType)">
                            {{ codeType }}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="selectedForm == 'course'" class="form-group row">
                <label class="col-md-3 col-form-label" for="course-select">Cours</label>
                <div class="col-md-9">
                    <select id="course-select" name="course" class="form-control" ngModel>
                        <option value="0">Sélectionner un cours</option>
                        <option *ngFor="let course of courses" (value)="(course._id)">
                            {{ course.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="selectedForm == 'credit'" class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Montant</label>
                <div class="col-md-9">
                    <input type="number" id="credit-input" name="value" class="form-control" placeholder="0" ngModel />
                </div>
            </div>
            <div>
                <input type="text" id="generated-code" name="generated-code" class="form-control" placeholder="résultat"
                    [(ngModel)]="generatedCode" />
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> Confirmer
            </button>
            <button type="reset" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Annuler
            </button>
        </div>
    </div>
</form>