<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-nav col-md-4">
            <div class="panel">
                <div class="user-heading round">
                    <img [src]="user.image" alt="">
                    <h1>{{user.firstName}} {{user.lastName}}</h1>
                    <p>{{user.email}}</p><br />
                    <span *ngIf="user.isActivated" class="premium">Premium</span>
                    <span *ngIf="!user.isActivated" class="free">Free</span>
                </div>
            </div>
        </div>
        <div class="profile-info col-md-8">
            <div class="panel">
                <div class="panel-body bio-graph-info">
                    <h1>Informations personnelles</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>Prénom </span>: {{user.firstName}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Nom </span>: {{user.lastName}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Localisation </span>: {{user.location}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Naissance</span>: 13 July 1983</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Occupation </span>: {{user.job}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Mobile </span>: {{user.phone}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <h3 class="invitees-number red">2</h3>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="red">Invités Rang1</h4>
                                    <p>Bonus: 50</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <h3 class="invitees-number terques">4</h3>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="terques">Invités Rang2</h4>
                                    <p>Bonus: 50</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <h3 class="invitees-number green">6</h3>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="green">Invités Rang3</h4>
                                    <p>Bonus: 40</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <h3 class="invitees-number purple">12</h3>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="purple">Invités Rang4</h4>
                                    <p>Bonus: 30</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>