<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Liste des requêtes</strong>
                    <!-- <div class="card-header-actions">
                        <a href="https://valor-software.com/ngx-bootstrap/#/alerts" target="_blank">
                            <small className="text-muted">docs</small>
                        </a>
                    </div> -->
                </div>
                <div class="card-body">
                    <p *ngIf="activationRequests.length == 0">Pas de requêtes d'activation ...</p>
                    <alert type="info" *ngFor="let request of activationRequests">
                        <div class="row">
                            <div class="col-9">
                                <strong *ngIf="request.firstName && request.lastName">
                                    {{request.firstName}} {{request.lastName}}
                                </strong>
                                <strong *ngIf="!(request.firstName && request.lastName)">
                                    Un utilisateur inconnu
                                </strong>
                                veut activer son compte.<br />
                                <i class="fa fa-envelope"></i> {{request.email}} - <i class="fa fa-phone"></i>
                                {{request.phone}}
                            </div>
                            <div class="col-3 actions-buttons">
                                <span (click)="acceptRequest(request)" class="accept-btn">Activer</span>
                                <span (click)="ignoreRequest(request)" class="ignore-btn">Ignorer</span>
                            </div>
                        </div>
                    </alert>
                </div>
            </div>
        </div>
    </div>
</div>