<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Liste des utilsateurs
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr class="table-header">
                                <th>Utilisateur</th>
                                <th>Etat</th>
                                <th>Invités</th>
                                <th>Localisation</th>
                                <th>Bonus</th>
                                <th text-right>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td (click)="openUserDetails(user)">
                                    <img [src]="user.image" class="avatar-img" />
                                    <span class="username">{{user.lastName}} {{user.firstName}}</span>
                                </td>
                                <td>
                                    <span *ngIf="user.isActivated" class="premium">Premium</span>
                                    <span *ngIf="!user.isActivated" class="free">Free</span>
                                </td>
                                <td>15</td>
                                <td>Ariana</td>
                                <td>{{user.bonus}} <span class=sup>TND</span></td>
                                <td class="actions-container">
                                    <button (click)="deleteUser(user._id)" type="button"
                                        class="btn btn-danger action-button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button (click)="changeUserSubscription(user)" type="button"
                                        class="btn btn-primary action-button">
                                        <i *ngIf="!user.isActivated" class="fa fa-arrow-up"></i>
                                        <i *ngIf="user.isActivated" class="fa fa-arrow-down"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <ul class="pagination">
                        <li class="page-item"><a class="page-link">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link">1</a>
                        </li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">4</a></li>
                        <li class="page-item"><a class="page-link">Next</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>