.app-body {
    background-image: url("/assets/img/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px) grayscale(35%);
}

.card {
    background: transparent !important;
    border: 2px white solid;
    backdrop-filter: blur(30px) opacity(.7);
}

h1 {
    font-size: 2em;
    color: white;
    font-weight: 600;
}

.login-card:hover {
    background-color: #173F5F !important;
    transition: .7s;
}

.login-card {
    transition: .7s;
}

p {
    font-weight: 300;
    font-size: 1.2em;
}

.btn-link {
    color: white;
}