<div class="card">
    <div class="card-header">
        <strong>Ajouter</strong> Catégorie
    </div>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="form-horizontal">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Titre de la catégorie</label>
                <div class="col-md-9">
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Titre"
                        formControlName="name">
                    <!-- <span class="help-block">Ex: JavaScript pour les débutants</span> -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
                <div class="col-md-9">
                    <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                        placeholder="Ajouter une déscription pour le cours .." formControlName="description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Image du cours</label>
                <div class="col-md-9">
                    <input type="file" id="file-input" name="file-input" (change)="onImageSelected($event)" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Confirmer</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Annuler</button>
        </div>
    </form>
</div>