<div class="card">
  <div class="card-header"><strong>Ajouter</strong> chapitre</div>
  <form
    [formGroup]="chapterForm"
    (submit)="onSubmit()"
    enctype="multipart/form-data"
    class="form-horizontal"
  >
    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input"
          >Titre du chapitre</label
        >
        <div class="col-md-9">
          <input
            formControlName="title"
            type="text"
            id="text-input"
            name="text-input"
            class="form-control"
            placeholder="Titre"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1"
          >Cours du chapitre</label
        >
        <div class="col-md-9">
          <select
            formControlName="course"
            id="select1"
            name="select1"
            class="form-control"
          >
            <option value="0">Sélectionner un cours</option>
            <option *ngFor="let course of courses" (value)="(course.name)">
              {{ course.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="textarea-input"
          >Description</label
        >
        <div class="col-md-9">
          <textarea
            formControlName="description"
            id="textarea-input"
            name="textarea-input"
            rows="9"
            class="form-control"
            placeholder="Ajouter une déscription pour le chapitre .."
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Video</label>
        <div class="col-md-9">
          <input
            formControlName="video"
            type="text"
            id="text-input"
            name="text-input"
            class="form-control"
            placeholder="Lien du vidéo"
          />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary">
        <i class="fa fa-dot-circle-o"></i> Confirmer
      </button>
      <button type="reset" class="btn btn-sm btn-danger">
        <i class="fa fa-ban"></i> Annuler
      </button>
    </div>
  </form>
</div>
