<div class="card">
  <div class="card-header"><strong>Ajouter</strong> Cours</div>
  <form [formGroup]="courseForm" (submit)="onSubmit()" enctype="multipart/form-data" class="form-horizontal">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="name">Titre du cours</label>
        <div class="col-md-9">
          <input formControlName="name" type="text" id="name" name="text-input" class="form-control"
            placeholder="Titre" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Catégorie du cours</label>
        <div class="col-md-9">
          <select formControlName="category" id="select1" name="select1" class="form-control">
            <option value="0">Sélectionner une catégorie</option>
            <option *ngFor="let category of categories" (value)="(category.name)">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
        <div class="col-md-9">
          <textarea formControlName="description" name="textarea-input" rows="9" class="form-control"
            placeholder="Ajouter une déscription pour le cours .."></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="duration">Durée du cours</label>
        <div class="col-md-9">
          <input formControlName="duration" type="text" id="duration" name="text-input" class="form-control"
            placeholder="Durée" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="price">Prix du cours</label>
        <div class="col-md-9">
          <input formControlName="price" type="number" id="price" name="text-input" class="form-control"
            placeholder="Prix" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="image">Image du cours</label>
        <div class="col-md-9">
          <input type="file" id="file-input" name="image" (change)="onImageSelected($event)" />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary">
        <i class="fa fa-dot-circle-o"></i> Confirmer
      </button>
      <button type="reset" class="btn btn-sm btn-danger">
        <i class="fa fa-ban"></i> Annuler
      </button>
    </div>
  </form>
</div>