<!-- <p>profile works!</p> -->
<div class="main-container">
  <div class="padding">
    <div class="row container d-flex justify-content-center" style="margin-left: auto; margin-right: auto">
      <div class="col-xl-12 col-md-22">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25"></div>

                <input class="form-control" type="text" name="adminName" value="{{ AdminData.name }}" />
                <br />
                <input class="form-control" type="text" name="adminName" value="{{ AdminData.lastName }}" />
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <input class="form-control" type="text" name="adminEmail" value="{{ this.AdminData.email }}" />
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Phone</p>
                    <input class="form-control" type="text" name="adminPhone" value="{{ this.AdminData.phone }}" />
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit" style="float: righ">
                Update profile
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>