<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Liste des requêtes d'achat de cours</strong>
                </div>
                <div class="card-body">
                    <p *ngIf="coursesRequests.length == 0">Pas de requêtes d'achat de cours ...</p>
                    <alert type="warning" *ngFor="let request of coursesRequests">
                        <div class="row">
                            <div class="col-9">
                                <strong>{{request.user.firstName}} {{request.user.lastName}}</strong>
                                veut acheter le cours <strong>{{request.course.name}}</strong> qui coûte
                                <strong>{{request.course.price}} </strong>dt<br />
                                <i class="fa fa-envelope"></i> {{request.user.email}} -
                                <i class="fa fa-phone"></i> {{request.user.phone}}
                            </div>
                            <div class="col-3 actions-buttons">
                                <span (click)="acceptCourseRequest(request)" class="accept-btn">Activer</span>
                                <span (click)="ignoreCourseRequest(request)" class="ignore-btn">Ignorer</span>
                            </div>
                        </div>
                    </alert>
                </div>
            </div>
        </div>
    </div>
</div>