<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-nav col-md-4">
            <div class="panel">
                <div class="user-heading round">
                    <img [src]="user.image" alt="">
                    <h1>{{user.firstName}} {{user.lastName}}</h1>
                    <p>{{user.email}}</p><br />
                    <span *ngIf="user.accountType === 'free'" class="badge badge-secondary">{{user.accountType}}</span>
                    <span *ngIf="user.accountType === 'premium'" class="badge badge-warning">{{user.accountType}}</span>
                    <span *ngIf="user.accountType === 'requested'" class="badge badge-info">pending</span>
                    <span *ngIf="user.isDefaultInviter" class="badge badge-dark">Parrain</span>
                    <div class="total-bonus-box">
                        <h5 class="total-bonus-text">Bonus Total</h5>
                        <h3 class="total-bonus-title">{{totalBonus}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info col-md-8">
            <div class="panel">
                <div class="panel-body bio-graph-info">
                    <h1 class="section-header">Informations personnelles</h1>
                    <div class="user-infos">
                        <div>
                            <p><i class="fa fa-user"></i> {{user.firstName}} {{user.lastName.toUpperCase()}}</p>
                            <p><i class="fa fa-compass"></i> {{user.location || 'Inconnue'}}</p>
                        </div>
                        <div>
                            <p><i class="fa fa-calendar"></i> {{user.birthDate || 'Inconnu'}}</p>
                            <p><i class="fa fa-suitcase"></i> {{user.job || 'Inconnue'}}</p>
                        </div>
                        <div>
                            <p><i class="fa fa-phone"></i> {{user.phone || 'Inconnu'}}</p>
                            <p><i class="fa fa-envelope"></i> {{user.email || 'Inconnu'}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h1 class="section-header">Bonus</h1>
                <div class="row">
                    <div class="col-md-6" *ngFor="let level of bonusTree | keyvalue">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <h3 class="invitees-number primary">{{level.value.length}}</h3>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="primary">{{level.key}}</h4>
                                    <p>Bonus: {{level.value.levelBonus}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>